.weui-tabs  {
  width: 100%;

  &-bar__wrp {
    width: 100%;
    background: #fff;
  }

  &-bar__content {
    width: 100%;
    white-space: nowrap;
  }

  &-bar__item {
    display: inline-block;
    padding: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }

  &-bar__title {
    text-align: center;
  }

  &-content__wrp {
    width: 100%;
  }

  &-slides {
    display: flex;
    transition-duration: 500ms;
  }
}